<html>
  <head>
    <title>The Gossip Project - Show gossip</title>
  </head>
  <body>
    <h1>PAGE POTIN</h1>
    <h1>Voici la page du potin n° <%= params[:id] %></h1>
    <% gossips.each do |gossip| %>
      <p>
      Voici le potin n° <%= id%><br/>
      Son auteur : <%= gossip.author %><br/>
      Le contenu du potin : <%= gossip.content %>
      </p>
  <% end %>
  </body>
</html>
